.container {
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .hero-detail {
    min-height: 100vh;

    .detail-movie-desc,
    .detail-movie-genre {
      font-family: "roboto";
    }

    .rating-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .genre-wrapper {
        .detail-movie-genre {
          flex: 1;
          font-weight: 400;
        }

        .detail-movie-genre {
          font-size: small;
          border-radius: 30px;

          &:hover {
            cursor: unset;
          }
        }
      }

      .img-rating-wrapper {
        display: flex;
        align-items: center;
        .img-rating {
          width: 40px;
        }

        .detail-movie-rating {
          font-family: "poppins", sans-serif;
          font-size: 20px;
          font-weight: 400;
          margin: 0;
        }
      }
    }

    .img-wrapper {
      display: flex;
      justify-content: flex-end;
      .img-poster {
        height: 70%;
      }
    }
  }
}

.container {
  .title-detail-movie {
    &::after {
      content: "";
      display: block;
      border-bottom: 3px solid rgb(255, 255, 255);
      width: 50%;
      margin: auto;
      padding-bottom: 5px;
      margin-bottom: -8px;
    }
  }

  .title-movie-info {
    .content-movie-info {
      flex: 0 0 100%;
      max-width: 100%;
      table {
        color: white;
        tr {
          td {
            border-top: 0px;
          }
        }
      }
      .movie-info {
        color: rgb(189, 189, 189);
      }

      .movie-info-production {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
    }
  }

  .card-wrapper {
    justify-content: center;
  }
  .card-body {
    .card-text {
      text-align: center;
      margin: 15px 0;
    }
  }
}

// Responsif Tablet
@media (max-width: 768.98px) {
  .container {
    .detail-movie-desc {
      order: 2;
    }

    .img-wrapper {
      justify-content: center !important;
      margin: 30px 0;
      .img-poster {
        width: 100%;
        order: 1;
      }
    }
  }
}
